<!DOCTYPE html>
<html>
<head>
  <title>Srujan Portfolio</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1><%= name %></h1>
    <h2><%= role %></h2>
    <p><%= about %></p>
  </div>
</body>
</html>

